body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

#main-container {		
	display: inline-block;
	text-align: center;
}

#snake-field {
	position: relative;
	width: 400px; height: 400px; 
	background-color: rgb(192,168,100);
}

#snake-field td {
	/*opacity: 0.75;*/
	/*transition: all 0.1s;*/
}
